.container{
  width: 100%;
}
main{
  background-color: white;
  width: 75%;
  margin: auto;
}
 h2{
  font-size: 2rem;
  padding: 2rem 0;
  text-align: center;
 }

/* Form, fieldset, legend */
form{
  background-color: rgb(100, 182, 127);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;  
}

fieldset{
  border: 3px dotted  black;
  padding: 2rem;
}
/* table{
  width: 400px;
  padding: 0 1rem;
} */
table{
  width: 350px;
  table-layout: fixed;
  padding: 0 1rem;
}
fieldset:nth-child(2) table{
  width: 500px;
  table-layout: fixed;
  padding: 0 1rem;
}
legend{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

/* fieldset1 */
input[type=date]{
  margin: 1rem 0 3rem;
}
#date, #time_delivery{
  padding: 0.2rem;
}
#comment{
  margin-top: 1rem;
}

/* fieldset2 */

#full_name, #address, #city, #zip, #phone, #email{
  margin-bottom: 1rem;
  padding: 0.2rem;
}
.cityLb, #city{
  margin-left: 8rem;
}
.zipLb, #zip{
  margin-left: 4rem
}
#email{
  margin-bottom: 0.5rem;
}

/* fieldset3 */

[lang=fr] #expireMM{
  margin-left: 9rem;
}
[lang=fr] #expireYY{
  margin-right:2rem;
}
#debit, #credit, #cname, #cnum, #expireMM, #expireYY{
  margin-bottom: 1.2rem;
  padding: 0.2rem;
}
#cvv{
  margin-bottom: 0.5rem;
  padding: 0.2rem;
}
#expireYY{
  margin-right: 5rem;
}
/* Button  */

#paymentBtn, #previousBtn{
  text-align: center;
  margin: auto;
}
#paymentBtn{
  flex-basis: 100%;
}

#payment, #previous{
  font-size: 1.5rem;
  border: none;
  border-radius: 12px;
  padding: 0.3rem;
  margin: 1rem;
}


/*===============Payment Success===========*/

#paymentSuccess p{
  font-size: 3rem;
  text-align: center;
  padding: 3rem;
}


footer{
  position: relative;
}

/*---------------------------Tablet--------------------------*/
@media (max-width: 1007px) {
  main{
    width: 100%;
    height: 150vh;
  }
  main h2{
    padding: 0;
  }
  form{
    display: block;
  }
  fieldset{
    margin: 2rem;
  }

  footer{
    position: relative;
  }
}

/*---------------------------Mobile--------------------------*/
@media (max-width: 640px) {

  main{
    width: 100%;
  }
  /* Form, fieldset, legend */

  main h2{
    font-size: 1.5rem;
  }
form{
  background-color: rgb(100, 182, 127);
  display: block;
  margin: 0;
  padding: 0;
}

fieldset{
  border: 3px dotted  black;
  margin: 0 0 1rem 0;
  padding: 0;
}

table{
  width: 100%;
  margin: 0;
  padding: 0;
}


legend{
  font-weight: 600;
}

/* fieldset1 */
input[type=date]{
  margin: 0.5rem 0 1rem;
}
#date, #time_delivery{
  padding: 0.2rem;
}
#comment{
  margin-top: 0.5rem;
}
textarea{
  width: 100%;
}
table{
  border-collapse:collapse; 
  table-layout:fixed; 
}
  fieldset:nth-child(2) table td {
/* border:solid 1px rgb(199, 72, 97);  */
   word-wrap:break-word;
  }
  #address{
    width: 200px;
  }
  #city{
    margin-left: 6rem;
    width: 4rem;
  }
  #zip{
    margin-left: 3rem;
    width: 4rem;
  }
  .cityLb{
    margin-left: 6rem;
  }
  .zipLb{
    margin-left: 2rem;
  }

/* fieldset2 */

#full_name, #address, #city, #zip, #phone, #email{
  padding: 0.2rem;
}
#email{
  margin-bottom: 0.5rem;
}

/* fieldset3 */

[lang=fr] #expireMM{
  margin:0;
}
[lang=fr] #expireYY{
  margin:0;
}
#debit, #credit, #cname, #cnum, #expireMM, #expireYY{
  padding: 0.2rem;
}
#cvv{
  margin-bottom: 0.5rem;
  padding: 0.2rem;
}
#expireYY{
  margin-right:0;
}

}